*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas,sans-serif;
  text-decoration: none;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1011)'%3e%3c/rect%3e%3cpath d='M1440 0L751.07 0L1440 112.67z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M751.07 0L1440 112.67L1440 216.53L337.11000000000007 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M337.1100000000001 0L1440 216.53L1440 427.39L187.26000000000013 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M187.26000000000022 0L1440 427.39L1440 443.38L122.67000000000021 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L576.93 560L0 556.35z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 556.35L576.93 560L767.65 560L0 486.69000000000005z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 486.69L767.65 560L1034.3 560L0 371.74z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 371.74L1034.3 560L1123.55 560L0 298.78000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1011'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(132%2c 158%2c 193%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.mybtn{
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: orange;
  color: #ffff;
  font-size: 1.2em;
  letter-spacing: 2px;
  cursor: pointer;
}

.mybtn:hover{
  background-color:#ffff;
  color:  red;
  border: 1px solid red;
  
}


.itemlist{
  display: flex;
  max-width: 60%;
  margin: auto;
  flex-wrap: wrap;
  text-decoration: none;
}

.item{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 20px;
  justify-content: space-around;
  text-align: center;
  color: #ffff;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.4em;
}


.singledata{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;

}



.myprofile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 95%;
  margin: auto;
}

.mylinks{
  display: flex;
  justify-content: space-around;
}

.mylinks a{
  text-decoration: none;
  font-size: 2em;
}

a i{
  color: #ffff;
  cursor: pointer;
  margin: 15px;
}

a i:hover{
  color: orange;
}


.myprojects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myprojects a{
  margin: 5px;
  font-size: 1.2em;
  color: red;
  text-transform: capitalize;
  cursor: pointer;
}

.myprojects a:hover{
  color: red;
  border: 2px solid orange;
} 

@media screen and (max-width: 800px) {

  body{
    display: flex;
    flex-direction: column;
  }

  .main{
    max-width: 90%;
    display: flex;
    margin: auto;
  }


  .itemlist{
    max-width: 55%;
    display: flex;
    margin: auto;
  }

  .item{
    margin: 15px;
  }

  .singledata{
    width: 250px;
    height: 250px;
  }


  }
